/* 整體頁面 */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;     /* ⬅️ 水平置中（因為 column） */
  justify-content: center; /* ⬅️ 垂直置中 */
  height: 100vh;
  text-align: center;
}

  /* 網站標題 */
  .home-title {
    font-size: 4rem;
    margin-bottom: 2rem; /*底部間隔*/
  }
  
  .button-group {
    display: flex;
    flex-direction: row; /*水平排列*/
    gap: 1rem;
  }
  
  /* 按鈕外觀和動畫 */
  .nav-button {
    background-color: #7b2cbf; /* 顏色 */
    color: white;
    padding: 1.5rem 3rem; /*按鈕寬高度*/
    margin: 0 15px; /*按鈕間隔*/
    border: none;
    border-radius: 999px; /*圓角*/
    text-decoration: none; /*去掉超連結底線*/
    font-size: 1.5rem;
    transition: all 0.2s ease; /*按鈕放大動畫*/
    box-shadow: 0 0 0 transparent; /**光暈效果初始化*/
  }
  
  /* 滑鼠移動按鈕上時的動畫 */
  .nav-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(123, 44, 191, 0.6);
  }
  