.project-bg{
    min-height: 100vh;
    padding: 0;
    background-image: url('/img/background/background1.webp');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 1rem; /* 避免黏邊 */
}

/* 遊戲機螢幕 */
.gamepad-display{
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 40px;
    border: 5px solid #3b3b3b;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /*陰影 (水平位移 垂直位移 模糊半徑 顏色)*/
}

/* 超連結按紐 */
.a-button{
    border: 3px solid rgb(118, 118, 118);
    border-radius: 90px;
    background-color: #cdcdcd;
    padding: 10px;
    color: black;
    cursor: pointer;
}

/* 超連結按紐-滑鼠懸停效果 */
.a-button:hover{
    border: 3px solid rgb(58, 58, 58);
    background-color: #878787;
    color: white;
}

/* 專案導覽列 */
.button-pad{
    margin-top: 10px;
    display: flex;
    justify-content: center; /*水平置中*/
    gap: 32px;
}

/* 其它頁面導覽列 */
.nav-link{
    border: 2px solid rgb(182, 182, 182);
    border-radius: 20px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 32px;
    width: 400px;
    margin: 0 auto;
}

/* 其它頁面導覽列-link */
.link-button{
    color: rgb(170, 0, 170);
    font-weight: bold;
    text-decoration: none;
}

.link-button:hover{
    text-decoration: underline;
}

/* 響應式網頁設定 */
@media (max-width: 1500px) {
    /* 內容顯示區 */
    .gamepad-display {
      width: 90vw;         /* 裝置寬度的 90% */
      height: 70vh;        /* 比例調整，不要佔滿整個手機畫面 */
      margin-top: 20px;
    }
    
    /* 按鈕選單 */
    .button-pad {
      flex-wrap: wrap;     /* 按鈕換行 */
      gap: 12px;
      padding: 10px;
    }
    
    /* 連結按鈕 */
    .a-button {
      padding: 8px 12px;
      font-size: 0.9rem;
    }
    
    /* 導覽列 */
    .nav-link {
      align-items: center;
      gap: 10px;
      width: 90%;
      font-size: 1rem;
      padding: 10px;
    }
  }
  